# fly.toml app configuration file generated for driplnk on 2025-12-12T22:45:34+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'driplnk'
primary_region = 'fra'

[build]
  [build.args]
    GO_VERSION = '1.25.4'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 2
  memory_mb = 512
